<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
</head>
<style>

  body {
    font-family: 'Aboreto', cursive;
  }

  .footer-custom {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }

  .enjoy-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 50%;
    padding: 20px;
    overflow: hidden;
    border: none;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-spacing: 6px;
    background: #4c0000;
    -webkit-box-shadow: 6px 6px 10px 0 rgba(54, 56, 109, 0.3);
    box-shadow: 6px 6px 10px 0 rgba(54, 56, 109, 0.3);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    /* or absolute */
    top: 20%;
    left: 25%;
    bottom: auto;
  }


  .img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: auto;
  }

  h1 {
    font-size: 2vw;
    /* 40px/16=2.5em */
  }

  h2 {
    font-size: 1.5vw;
    /* 30px/16=1.875em */
  }
  h3 {
    font-size: 1.2vw;
    /* 24px/16=1.5em */
  }
  h4 {
    font-size: 1vw;
    /* 20px/16=1.25em */
  }
  p {
    font-size: 0.55vw;
    /* 14px/16=0.875em */
  }

  body {
    text-align: center;
  }

  .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        border-color: #f4f4f4 !important;
  }
  .btn {
    background: #C02525;
    border-color: #C02525;
  }
  .btn:hover, .btn:focus {
    background-color: #850b09;
    border-color: #a60301;
  }
  .btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(112 6 6 / 25%);
  }
</style>

<body>
  <div class="enjoy-css">
    <img src="static/lannister.png" class="img" alt="lannister_logo">
    <h1>
      Lannisters
    </h1>

    <h3>
      Unique visits: {{ hostname_count }}
    </h3>
  </div>



  <div class="card-deck text-center" style="margin-left: 15%; margin-top: 60px;">

  {% for k,v in all_items.items() %}
  <div class="col-sm-4 text-center" style="text-align: center;">
      <div class="card text-center shadow border-secondary justify-content-center" style="width: 18rem;">

      <div class="card-body">
          <h4 class="card-title">{{k}}</h4>
          <p class="card-text">Counter: {{v.counter}} </p>
          <a href="{{ MICRO_URL }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Pod Visits: {{v.visits}}</a>
      </div>
      </div>
      <br>
  </div>
  {% endfor %}
  </div>


  <footer class="footer-custom">
    <h4>Team members:
      <a style="color: rgb(157, 0, 0);" href="https://gitlab.com/AdrianVarelaG">
        @AdrianVarelaG,
      </a>
      <a style="color: rgb(157, 0, 0);" href="https://gitlab.com/alberto.pinon">
        @alberto.pinon,
      </a>
      <a style="color: rgb(157, 0, 0);" href="https://gitlab.com/galilea_valle">
        @galilea_valle
      </a>
    </h4>
  </footer>
</body>
</html>
